@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-background-100: #7c6f64;
  --color-background-200: #665c54;
  --color-background-300: #504945;
  --color-background-400: #3c3836;
  --color-background-500: #32302f;
  --color-background-600: #1d2021;

  --color-foreground-100: #a89984;
  --color-foreground-200: #bdae93;
  --color-foreground-300: #d5c4a1;
  --color-foreground-400: #ebdbb2;
  --color-foreground-500: #fbf1c7;

  --color-red-100: #cc241d;
  --color-red-200: #9d0006;

  --color-green-100: #98971a;
  --color-green-200: #79740e;

  --color-yellow-100: #d79921;
  --color-yellow-200: #b57614;

  --color-blue-100: #458588;
  --color-blue-200: #076678;

  --color-purple-100: #b16286;
  --color-purple-200: #8f3f71;

  --color-aqua-100: #689d6a;
  --color-aqua-200: #427b58;

  --color-orange-100: #d65d0e;
  --color-orange-200: #af3a03;

  --background-image-bkg-pattern: url('/src/assets/bkg_pattern.svg');
}