---
import Layout from "../layouts/Layout.astro";
import Block from "../layouts/Block.astro"
---

<Layout title="CatPlace - 404" description="The 404 CatPlace page">
    <div class="flex justify-center text-2xl md:text-4xl font-bold">
        <Block>
            <header class="text-center">
                <h1>You fell out of bounds</h1>
                <h2 class="text-lg md:text-2xl m-2">Here's the way back home</h2> <br>
            </header>
            <div class="flex">
                <div class="whitespace-pre">
                    <span>&#8203;             へ         </span> <br>
                    <span>&#8203;        ૮  -   ՛ ) つ </span> <br>
                    <span>&#8203;         /   ⁻  ៸        </span> <br>
                    <span>&#8203;  乀 (ˍ,   ل          </span>
                </div>
                <a href="/" ><button class="hover:underline">Home</button></a>
            </div>
        </Block>
    </div>
</Layout>
