---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const gifImages = await Astro.glob("../assets/gifs/*.gif");
---

<Layout title="Gif Collection" description="Gif Collection">
    <Header motto="Treat yourself to whatever gifs you want"> Welcome to my Gif Collection</Header>
    <section class="flex flex-col md:flex-row md:flex-wrap md:justify-center md:items-start">
        {
            gifImages.map((image) => (
                <Image src={image.default} alt={`GIF image`} class="rounded m-2 md:h-64 w-auto" />
            ))
        }
    </section>
</Layout>
