---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Block from "../layouts/Block.astro";
---

<Layout title="Guestbook" description="The JellyCat Cafe guestbook">
    <Header motto="Let us know you were here"> Guestbook </Header>
    <div class="flex h-screen">
        <Block tailwindClass="hidden md:block"></Block>
        <Block tailwindClass="hidden lg:block"></Block>
        <Block tailwindClass="hidden lg:block"></Block>
        <Block tailwindClass="w-screen">
            <iframe
                src="https://jellycat-cafe.atabook.org/"
                class="w-full h-full rounded"></iframe>
        </Block>
        <Block tailwindClass="hidden lg:block"></Block>
        <Block tailwindClass="hidden lg:block"></Block>
        <Block tailwindClass="hidden md:block"></Block>
    </div>
</Layout>
