---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import LinkTree from "../components/LinkTree.astro";

const Title = "PolyCat - Home";
const Description = "PolyCat's corner of the internet";
const HeaderTitle = "Welocome to PolyCat's website";

const SocialLinks = [
    { href: "https://sunny.garden/@PolyCat", text: "Mastodon" },
    { href: "https://cara.app/polycat", text: "Cara" },
    { href: "https://github.com/PolyCatDev", text: "Github" },
];
---

<Layout title={Title} description={Description}>
    <Header title={HeaderTitle} />
    <div>
        <LinkTree links={SocialLinks} />
    </div>
</Layout>

<style>
    div {
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.5);
    }
</style>
