---
import Layout from "../layouts/Layout.astro";
import Block from "../layouts/Block.astro";
import Header from "../components/Header.astro";
import ListElement from "../components/elements/ListElement.astro";

let websites = [
    {
        text: "AlterHomeLabs",
        url: "https://ne0nbandit.neocities.org",
    },
    {
        text: "Puppy Brained",
        url: "https://puppygirlbelly.github.io/PuppyBrained/",
    },
    {
        text: "LoveWeb",
        url: "https://loveweb.neocities.org/",
    },
    {
        text: "HTML for the People",
        url: "https://htmlforpeople.com/",
    },
    {
        text: "Cinni's Dream Home",
        url: "https://cinni.net/",
    },
    {
        text: "Korean Meme Short",
        url: "https://kakashi.neocities.org/",
    },
    {
        text: "Rotating Sandwiches",
        url: "https://rotatingsandwiches.wordpress.com/",
    },
    {
        text: "Virtual Diva",
        url: "https://adilene.net/",
    },
];

let webrings = [
    {
        text: "Transing the Web",
        url: "https://transring.neocities.org/",
    },
    {
        text: "Bucketfish",
        url: "https://webring.bucketfish.me/",
    },
    {
        text: "Vocaloid",
        url: "https://webring.adilene.net/index.php",
    },
];

let tools = [
    {
        text: "readme.so",
        url: "https://readme.so/",
    },
    {
        text: "Curses",
        url: "https://github.com/mmpneo/curses"
    },
    {
        text: "NekoWeb",
        url: "https://nekoweb.org/",
    },
    {
        text: "Blahaj Land",
        url: "https://blahaj.land",
    },
    {
        text: "AmSat",
        url: "http://amsat.org.ar/pass.htm",
    },
];

let indexes = [
    {
        text: "Awesome Node Based UIs",
        url: "https://github.com/xyflow/awesome-node-based-uis"
    },
    {
        text: "Language Learning",
        url: "https://www.reddit.com/r/languagelearning/wiki/resources/#wiki_japanese"
    }
]
---

<Layout title="Links" description="List of links to palces on the web">
    <Header motto="Welcome to my index">Links</Header>
    <Block>
        <div class="flex justify-center">
            <div class="md:flex">
                <section class="lg:flex">
                    <div class="p-3 m-2 text-green-100">
                        <ListElement title="Websites" items={websites} />
                    </div>
                    <div class="p-3 m-2 text-blue-100">
                        <ListElement title="Webrings" items={webrings} />
                    </div>
                </section>
                <section class="lg:flex">
                    <div class="p-3 m-2 text-purple-100">
                        <ListElement title="Tools" items={tools} />
                    </div>
                    <div class="p-3 m-2 text-orange-100">
                        <ListElement title="Indexes" items={indexes} />
                    </div>
                </section>
            </div>
        </div>
    </Block>
</Layout>
