---
import container from "../styles/container.module.css";
---

<header class="container">
    <h1><slot></slot></h1>
</header>

<style>

    h1 {
        text-align: center;
        margin: 0;
    }

    hr {
        margin-bottom: 0;
    }
</style>
