---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<header>
    <h1>{title}</h1>
    <hr />
</header>

<style>
    h1 {
        text-align: center;
    }

    hr {
        margin-bottom: 0;
    }
</style>
