---
const Title = "Welocome to PolyCat's website";
---

<header>
    <h1>{Title}</h1>
    <hr />
</header>

<style>
    h1 {
        text-align: center;
    }

    hr {
        margin-bottom: 0;
    }
</style>
