---
interface Link {
    href: string;
    text: string;
    label: string;
}

interface Props {
    title: string;
    links: Link[];
}

const { title, links } = Astro.props;

import Block from "./Block.astro";
---

<Block>
    <h2 class="text-center text-3xl font-bold p-2">{title}</h2>

    <nav class="text-lg flex-col">
        {
            links.map((link) => (
                <a href={link.href} aria-label={link.label}>
                    <div class="bg-background-100 p-4 m-3 rounded-3xl text-center hover:underline font-bold border-4 border-background-600">
                        {link.text}
                    </div>
                </a>
            ))
        }
    </nav>
</Block>

<style>
    h2 {
        margin-top: 0;
    }
</style>
