---

interface Link {
  href: string;
  text: string;
}

interface Props {
    title: string;
    links: Link[];
}

const { title, links } = Astro.props;
---

<div>
    <h3>{title}</h3>
    <hr />

    <nav>
        { links.map( link => (<a href={link.href}>{link.text}</a>)) }
    </nav>
</div>

<style>
    div {
        text-align: center;
        padding: 20px;
        padding-top: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    a {
        color: darkslategray;
        font-weight: bold;
    }
    
    h3 {
        margin-bottom: 0;
    }

</style>
