---
interface Link {
    href: string;
    text: string;
    label: string;
}

interface Props {
    title: string;
    links: Link[];
}

const { title, links } = Astro.props;

import WideButton from "./WideButton.astro";

---

<div class="container">
    <h2>{title}</h2>
    <hr />

    <nav>
        {
            links.map((link) => (
                <WideButton href={link.href} aria-label={link.label}>
                    {link.text}
                </WideButton>
            ))
        }
    </nav>
</div>

<style>

    nav {
        padding: 0 40px;
    }
    
    hr {
        color: rgb(204, 194, 178);
    }

    h2 {
        margin: 0;
    }
</style>
