---
import Block from "../layouts/Block.astro";
import ListElement from "./elements/ListElement.astro";
import { Image } from "astro:assets";


interface Items {
    text: string;
    url?: string;
}

interface Props {
    title?: string;
    items: Items[];
    image?: ImageMetadata
}

const { title, items, image } = Astro.props;
---

<Block>
    <div class="flex justify-around flex-wrap">
        {image && <Image class="" src={image} alt="Miku doing a little dance" loading={"eager"}/>}
        <div>
            <ListElement title={title} items={items} />
        </div>
    </div>
</Block>
