---
interface Props {
    href: string;
}

const { href } = Astro.props;

---

<a href={href}><div><slot /></div></a>

<style>
    div {
        background-color: rgb(92, 119, 134);
        border-radius: 30px;
        padding: 20px;
        border: 5px solid rgb(34, 36, 41);
        box-shadow: 0 0 12px rgb(58, 58, 88);
    }
    a {
        font-weight: bold;
        padding: 2px;
    }
</style>
