---
interface Items {
    text: string;
    href?: string;
    note?: string;
}

interface Props {
    title?: string;
    items: Items[];
}

const { title, items } = Astro.props;
---

{title && <h2 class="text-2xl font-bold">{title}</h2>}

<ul>
    {
        items.map((item) => (
            <li class="list-disc ml-5">
                <div class="flex flex-col md:flex-row">
                    {item.href ? (
                        <a href={item.href} class="hover:underline">
                            {item.text}
                        </a>
                    ) : (
                        item.text
                    )}
                    {item.note && (
                        <span class="ml-1 text-foreground-100">
                            {"<" + item.note + ">"}
                        </span>
                    )}
                </div>
            </li>
        ))
    }
</ul>
