---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    * {
        font-family: sans-serif, Arial;
        --text-color: rgb(247, 235, 217);
        --link-color: rgb(228, 208, 167);
    }

    .container {
        color: var(--text-color);
        text-align: center;
        margin: 20px;
        background-color: rgb(74, 75, 85);
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(20, 13, 22, 0.699);
        padding: 40px;
        border: 5px solid rgb(23, 23, 26);
    }

    body {
        margin: 0;
        background-color: #2d2831;
        display: flex;
        justify-content: center;
    }

    a {
        text-decoration: none;
        color: var(--link-color);
    }

    a:hover {
        text-decoration: underline;
    }
</style>
