---
import Footer from '../components/Footer.astro';

interface Props {
    title: string;
    description: string;
    footer?: boolean;
}

const { title, description, footer = true } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{`${title} @ JellyCat Cafe`}</title>
    </head>
    <body class="bg-background-600 text-foreground-500 font-sans bg-bkg-pattern bg-size bg-[length:800px] selection:bg-blue-200 flex flex-col h-full">
        <section class="block" id="block-body">
            <slot />
        </section>
        {footer && <Footer>}
    </body>
</html>
<style is:global></style>
